@import url('https://fonts.googleapis.com/css?family=Raleway');

.body {
	font-family: 'Raleway', sans-serif;
	background-color: rgb(116, 187, 211);
}

.center {
	text-align: center;
}

.margin {
	margin-left: 6em;
	margin-right: 6em;
}

.tab {
	text-indent: 2em;
}

.site_header {
	font-size: 5em;
	letter-spacing: .5em;
}

.site_subheader {
	font-size: 3em;
	letter-spacing: .1em;
}

.p {
	font-size: 1em;
}

.footer {
	font-size: .75em; 
}
